.navbar {
  height: 60px;
  display: flex;
  justify-content: right;
  background-color: #30353A;
  color: white;
}

.navbar-button a {
  text-decoration: none;
  color: #30353A;
  background-color: #F4F4F4;
  font-weight:bold;
  padding: 20px 30px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.navbar-button a:hover {
  transition:0.5s;
  color: #F4F4F4;
  background-color: #30353A;
}
